<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">

                <h4> Who am I?</h4>
                <p>I'm a student currently pursuing my Master's in Computer Science. Among other things I am passionate
                    about Machine Learning, Natural Language Processing, Artificial Intelligence, Cloud Computing,
                    and Full Stack development.
                    I also work on IoT projects and I'm handy with micro-controllers. </p><br>

                <h4> Education</h4>
                <ul>
                    <li>
                        <h5>Northeastern University, Boston</h5>
                        <p>
                            MS in Computer Science.<br>
                            - GPA: 3.83<br>
                            - Teaching Assistant for DS 2500: Intermediate Programming with Data, Spring 2023<br>
                            - Teaching Assistant for CS 5610: Web Development, Summer 2023
                        </p>
                    </li>
                    <li>
                        <h5>PES University, Bangalore</h5>
                        <p>
                            B.Tech in Computer Science and Engineering<br>
                            - Specialization: Data Science
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">

                <h4> Past experience</h4>
                <ul>
                    <li>
                        <h5>Hewlett Packard Enterprise, Bangalore:</h5>
                        <p>
                            Worked on Automation for Life-cycle Management and development of an Integrated management
                            console for
                            HPE Solutions as a part of the Enterprise Solutions and Performance team.
                        </p>
                    </li>
                    <li>
                        <h5>Altimetrik, Bangalore:</h5>
                        <p>
                            Used NLP and deep learning to identify test cases that have similar
                            semantic context to pre existing test cases to avoid duplicates.
                        </p>
                    </li>
                    <li>
                        <h5>Indian Institute of Technology, Kharagpur:</h5>
                        <p>
                            Worked on an array of sensors to identify suspicious activity near parked vehicles
                            and a mobile application to allow users to monitor the surroundings of the vehicle.</p>
                    </li>
                </ul>
            </div>
            <!--                 <div class="col-lg-8 col-lg-offset-2">
              
                 <p>A few of the Technologies I work with are</p>
                </div> -->
        </div><br>

        <!--                 <div class="col-lg-12" style="text-align: center">
                  <h4> Some numbers: </h4>
                  <ul style="list-style:none;">
                   <li style="display: inline;">
                    <h5 style="display: inline;">My music player: </h5>
                  <a href="https://github.com/Aveek-Saha/MusicPlayer">
                    <img src = "https://img.shields.io/github/downloads/Aveek-Saha/MusicPlayer/total.svg?style=for-the-badge">
                  </a></li>
                   
                  <li style="display: inline;">
                   <h5 style="display: inline;">My 2D Game: </h5>
                  <a href="https://github.com/Aveek-Saha/HastyHeroes">
                    <img src = "https://img.shields.io/github/downloads/aveek-saha/HastyHeroes/total.svg?style=for-the-badge">
                  </a></li>
                 </ul>
             </div> -->
        <div class="row">
            <div class="col-lg-3" style="text-align:center">
                <h4>Front end</h4>
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/react.svg" data-toggle="tooltip"
                    data-placement="top" title="React" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/angular-icon.svg"
                    data-toggle="tooltip" data-placement="top" title="Angular" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/vue.svg" data-toggle="tooltip"
                    data-placement="top" title="Vue" />
                <!-- <img class="dev-icon white lazyload" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jquery.svg"
                    data-toggle="tooltip" data-placement="top" title="Jquery" /> -->
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/svelte-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="Svelte" />
                <img class="dev-icon white lazyload"
                    src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/adobeillustrator.svg"
                    data-toggle="tooltip" data-placement="top" title="Adobe Illustrator" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/jquery.svg" /> -->

            </div>
            <div class="col-lg-3" style="text-align:center">
                <h4>Back end</h4>

                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/express.svg" /> -->

                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/nodejs-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="NodeJS" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/php.svg" data-toggle="tooltip"
                    data-placement="top" title="PHP" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/apache.svg" /> -->
                <!-- <img class="dev-icon" src="https://cdn.svgporn.com/logos/postgresql.svg" /> -->
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/firebase.svg" data-toggle="tooltip"
                    data-placement="top" title="Firebase" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/mongodb-icon.svg"
                    data-toggle="tooltip lazyload" data-placement="top" title="MongoDb" />
                <!-- <img class="dev-icon white" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/mysql.svg" data-toggle="tooltip" data-placement="top" title="MySQL"/> -->
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/docker-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="Docker" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/heroku.svg" />
                 <img class="dev-icon" src="https://cdn.svgporn.com/logos/hasura.svg" />
                 <img class="dev-icon" src="https://cdn.svgporn.com/logos/netlify.svg" />
 -->

            </div>

            <div class="col-lg-3" style="text-align:center">
                <h4>Frameworks</h4>

                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/nextjs-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="Next.js" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/django-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="Django" />
                <!-- <img class="dev-icon" src="https://cdn.svgporn.com/logos/firebase.svg" data-toggle="tooltip" data-placement="top" title="Firebase"/> -->
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/tensorflow.svg" data-toggle="tooltip"
                    data-placement="top" title="TensorFlow" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/electron.svg" data-toggle="tooltip"
                    data-placement="top" title="Electron" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/ionic-icon.svg" data-toggle="tooltip"
                    data-placement="top" title="Ionic" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/opencv.svg" /> -->
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/cordova.svg" /> -->
                <!-- <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/codeigniter.svg" data-toggle="tooltip"
                    data-placement="top" title="CodeIgniter" /> -->
                <!--                  <img class="dev-icon white" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/wordpress.svg" /> -->
                <!--                  <img class="dev-icon white" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/jekyll.svg" /> -->

            </div>

            <div class="col-lg-3" style="text-align:center">
                <h4>Languages</h4>

                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/python.svg" data-toggle="tooltip"
                    data-placement="top" title="Python" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/java.svg" data-toggle="tooltip"
                    data-placement="top" title="Java" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/c.svg" data-toggle="tooltip"
                    data-placement="top" title="C" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/javascript.svg" /> -->
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/arduino.svg" data-toggle="tooltip"
                    data-placement="top" title="Arduino" />
                <img class="dev-icon lazyload" src="https://cdn.svgporn.com/logos/javascript.svg" data-toggle="tooltip"
                    data-placement="top" title="JavaScript" />
                <!--                  <img class="dev-icon" src="https://cdn.svgporn.com/logos/raspberry-pi.svg" />
                 <img class="dev-icon" src="https://cdn.svgporn.com/logos/postman.svg" />
                 <img class="dev-icon" src="https://cdn.svgporn.com/logos/git-icon.svg" /> -->

            </div>

        </div><br>

        <div class="row" style="margin-top: 3%">

            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/Aveek-Saha" style="margin: 1%" class="btn btn-lg btn-outline">
                    <i class="fa fa-github-alt"></i> GitHub
                </a>
                <a href="https://home.aveek.io/blog/" style="margin: 1%" class="btn btn-lg btn-outline">
                    <i class="fa fa-gitlab"></i> Blog
                </a>
                <a href="https://home.aveek.io/aveek_saha_resume.pdf" style="margin: 1%" class="btn btn-lg btn-outline">
                    <i class="fa fa-file"></i> Resume
                </a>
                <a href="https://www.behance.net/aveeks/" style="margin: 1%" class="btn btn-lg btn-outline">
                    <i class="fa fa-behance"></i> Behance
                </a>
            </div>
        </div>
    </div>
</section>