 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}" defer></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}" defer></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}" defer></script>
    <script src="{{ "/js/classie.js" }}" defer></script>
<!--     <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script> -->

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}" defer></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}" defer></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}" defer></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js" defer></script> 
    <script src="https://cdn.jsdelivr.net/npm/lazysizes@5.2.1-rc2/lazysizes.min.js" defer></script>
    <script  src="js/part.js" defer></script>


    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
