
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                {% if post.modal-id > 4 && post.modal-id != 7 %}
                    <div class="col-sm-2 col-md-3 col-lg-3 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
<!--                                     <i class="fa fa-search-plus fa-3x"></i> -->
                                    <h4>{{ post.title }}</h4>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}"
                                 style="display:block; margin:auto; width: 70%; height: 70%;">
                        </a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
